body {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0f59ff, #1CB5E0 );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,#0f59ff, #1CB5E0 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img {
  background-color: #fff;
}
.bg-color{
background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #0f59ff, #1CB5E0 );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top,#0f59ff, #1CB5E0 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.v-height {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}
.vh-height {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginh4 {
  color: #fff;
}

.startPageTop {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0f59ff, #1CB5E0 );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,#0f59ff, #1CB5E0 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn-success1:hover {
    color:#0f59ff;
    background-color: #fff;
    border-color: transparent;
}

.btn-success1{
    color: white;
    background-color: transparent;
    border:2px solid white;
}

.startPageBottom {
  background-image: url("../IMG/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 62vh;
}

/*För att dölja create button när man klickar på menyn*/
.input-group-append .btn, .input-group-prepend .btn {
  position: relative;
  z-index: 0;
}

h2,h3{
	color:white;

}
.pull-right {
	position:absolute;
	right:10px;
	top:35px;
}

.pull-right a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 480px) {
.pull-right {
	position:absolute;
	right:10px;
	top:15px;
}
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
}

.nav-link:hover {
  color: #fff;
}

.green {
  color: green;
}

.red {
  color: red;
}
.nav-tabs {
    border-bottom: 1px solid transparent;
}
.nav-tabs a {
color:white
}
/* -- Vanlig muspekare om man håller på teams -- */
.list-group-item  {
   cursor:default
}
.mp {
	position:relative;
	margin-bottom:103px;
}

@media screen and (max-width: 480px) {
.mp {
	position:relative;
	margin-bottom:49px;
}
}
/* Vinster och förluster icon center*/
.score svg:not(:root).svg-inline--fa {
    overflow: visible;
    position: absolute;
    left: 49%;
    top: 35%;
}
/* Profil leaderboard icon */
.player svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #fff;
    width: 100px;
    height: 100px;
}

.scoreToggle{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #000;
  background-color: #ccc;
}

.rankToggle {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ccc;
}

.nav-pills .nav-link.active {
  background-color: #fff;
  color: #000;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #fff;
}
