.bg-color{
  background-color: #F5B041  ;
}
.v-height {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.vh-height {
  display: flex;
  justify-content: center;
  align-items: center;
}

.startPageTop {
  background-color: #F5B041;
}

.startPageBottom {
  background-image: url("../IMG/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 71vh;
}

/*För att dölja create button när man klickar på menyn*/
.input-group-append .btn, .input-group-prepend .btn {
  position: relative;
  z-index: 0;
}